@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-500

    }

}

@layer components {
    .btn {
        @apply py-2 px-6 bg-red-600 rounded text-white hover:bg-red-300 border border-gray-500
    }

}